{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
    {% if not user.is_authenticated %}
            window.location.href = "/";
    {% endif %}
</script>

    <h2 class="page-header">Đổi mật khẩu</h2>

{% if data.password_is_valid == 1 or data.password_is_valid == 0 %}
<form method="post" class="form-horizontal">
  {% csrf_token %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="user-name" class="control-label col-xs-5">Tên người dùng</label>
                <div class="col-xs-7"><input id="user-name" class="form-control" disabled="" value="{{ user.username }}"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="id_old_password" class="control-label col-xs-5">Mật khẩu cũ</label>
                <div class="col-xs-7"><input id="id_old_password" name="old_password" type="password" required="" class="form-control" autocomplete="off"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr>
            <div class="form-group">
                <label for="id_new_password1" class="control-label col-xs-5">Mật khẩu mới</label>
                <div class="col-xs-7"><input id="id_new_password1" name="new_password1" type="password" required="" class="form-control"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="id_new_password2" class="control-label col-xs-5">Xác nhận mật khẩu mới</label>
                <div class="col-xs-7"><input id="id_new_password2" name="new_password2" type="password" required="" class="form-control"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr>
            <button style="float: right" class="btn btn-primary" type="submit"><span class="fa fa-check"></span> Xác nhận</button>
        </div>
        <div class="col-md-3" ></div>
    </div>
    {% elif data.password_is_valid == 2 %}
            <div class="row">
                <div class="text-center">
                    <h4 style="color: #4cae4c">Thay đổi mật khẩu thành công</h4>
                    <h4>Đang chuyển hướng về <a href="{% url 'home' %}">trang chủ</a> </h4>
                </div>
            </div>

        <script>
            setTimeout(function(){ window.location.href = "/"; }, 3000);
        </script>
    {% endif %}

    {% if data.password_is_valid == 0 %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <hr>
                <ul style="color: #ac2925">Có lỗi xảy ra, đảm bảo rằng:
                    <li>Mật khẩu cũ chính xác (Phân biệt hoa - thường)</li>
                    <li>Mật khẩu xác nhận trùng khớp</li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
        {% endif %}

</form>
{% endblock %}