{% load static %}

{% for ktv in kythuatvien %}
    <tr>
        <td class="stt"></td>
        <td>{{ ktv.ten }}</td>
        <td>{{ ktv.nghiHuu|yesno:"☑,☐, " }}
    {% if user.is_authenticated %}
            <button class="btn btn-default context-button"
                    style="float: right;"
                    data-url="{% url 'kythuatvien_list' %}{{ ktv.id }}/">
                    <span class="glyphicon glyphicon-wrench"></span></button>
            {% endif %}
        </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">Chưa có thông tin</td>
    </tr>
{% endfor %}

<style>
    table {
    counter-reset: tableCount;
    }
    .stt:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }
</style>