{% load widget_tweaks %}
{% load static %}

<script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'datetimepicker/css/bootstrap-datetimepicker.min.css' %}">

<div class="form-group">
    <div>
        <label for="{{ formktv.ten.id_for_label }}">Tên</label>
        {% render_field formktv.ten class="form-control input-sm" %}
    </div>
</div>

<div class="checkbox">
    <div class="row">
            <label for="{{ formktv.nghiHuu.id_for_label }}">
                {% render_field formktv.nghiHuu %}
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                <b>Đã nghỉ hưu</b>
            </label>
    </div>
</div>

<div>
    <div class="form-group">
        <div class='input-group date' id='testTime'>
            {% render_field formktv.testTime class="form-control" type="text" %}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#testTime').datetimepicker({
            sideBySide: true,
            showTodayButton: true,
            format: 'DD/MM/Y HH:mm'
        });
    });
</script>