<form method="post" action="{% url 'bacsi_del' bacsi.id %}" class="js-bacsi-del-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Xác nhận xóa</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Thông tin xóa sẽ không thể khôi phục</p>
    <p class="lead">Bác sĩ: {{ bacsi.ten }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="fa fa-times"></span>
        Đóng</button>
    <button type="submit" class="btn btn-danger">
        <span class="fa fa-trash"></span>
        Xác nhận</button>
  </div>
</form>