{% for cp in chuyenphoi %}
    {% if cp.added %}
    <tr class="thongtin-row" data-url="{% url 'benhnhan_list' %}{{ cp.tt.id }}/">
            <td>{{ cp.tt.maSo }}</td>
            <td>{{ cp.tt.tenVo }}</td>
              <td>{{ cp.tt.tenChong }}</td>
            <td>{{ cp.tt.bs|default_if_none:"--------" }}</td>
            <td>{{ cp.soPhoiRa }}</td>
            <td>
                <span style="display: none">{{ cp.ngayKiemTra|date:"Y+m+d" }}</span> {{ cp.ngayKiemTra|date:"d/m/Y" }}
            </td>
            <td>
                <span style="display: none">{{ cp.ngayChuyenPhoi|date:"Y+m+d" }}</span> {{ cp.ngayChuyenPhoi|date:"d/m/Y" }}
            </td>
            <td>
                <span style="display: none">{{ cp.ngayRaPhoi|date:"Y+m+d" }}</span> {{ cp.ngayRaPhoi|date:"d/m/Y" }}
                {% if user.is_authenticated %}
                <button class="btn btn-sm btn-default context-chuyenphoi" style="float: right;"
                    data-url="{% url 'benhnhan_list' %}{{ cp.tt.id }}/">
                    <span class="glyphicon glyphicon-wrench"></span>
                </button>
                {% endif %}
            </td>
            <td style="display: none">{{ cp.timeAdd|date:"Y+m+d+H+i+s" }}</td>
    </tr>
    {% endif %}

  {% empty %}
    <tr>
      <td colspan="10" class="text-center bg-warning">Chưa có thông tin</td>
    </tr>
{% endfor %}
