{% load widget_tweaks %}

<div class="form-group row">
    <div class="col-xs-4">
        <label for="{{ formp.loai1.id_for_label }}">Loại 1</label>
        {% render_field formp.loai1 class="form-control input-sm" %}
    </div>
    <div class="col-xs-4">
        <label for="{{ formp.loai2.id_for_label }}">Loại 2</label>
        {% render_field formp.loai2 class="form-control input-sm" %}
    </div>
    <div class="col-xs-4">
        <label for="{{ formp.loai3.id_for_label }}">Loại 3</label>
        {% render_field formp.loai3 class="form-control input-sm" %}
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-7">
        <label for="{{ formp.tongSoPhoiTiepTucTheoDoi.id_for_label }}">Tổng số phôi tiếp tục theo dõi</label>
        {% render_field formp.tongSoPhoiTiepTucTheoDoi class="form-control input-sm" %}
    </div>
    <div class="col-xs-5">
        <label for="{{ formp.tongSoPhoiChuyen.id_for_label }}">Tổng số phôi chuyển</label>
        {% render_field formp.tongSoPhoiChuyen class="form-control input-sm" %}
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <label for="{{ formp.tongSoPhoiLuuTruLanh.id_for_label }}">Tổng số phôi lưu trữ lạnh</label>
        {% render_field formp.tongSoPhoiLuuTruLanh class="form-control input-sm" %}
    </div>
    <div class="col-xs-6">
        <label for="{{ formp.tongSoPhoiHuy.id_for_label }}">Tổng số phôi hủy</label>
        {% render_field formp.tongSoPhoiHuy class="form-control input-sm" %}
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <label for="{{ formp.soPhoiN2.id_for_label }}">Số phôi N2</label>
        {% render_field formp.soPhoiN2 class="form-control input-sm" %}
    </div>
    <div class="col-xs-6">
        <label for="{{ formp.soCryotop2.id_for_label }}">Số cryotop</label>
        {% render_field formp.soCryotop2 class="form-control input-sm" %}
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <label for="{{ formp.soPhoiN3.id_for_label }}">Số phôi N3</label>
        {% render_field formp.soPhoiN3 class="form-control input-sm" %}
    </div>
    <div class="col-xs-6">
        <label for="{{ formp.soCryotop3.id_for_label }}">Số cryotop</label>
        {% render_field formp.soCryotop3 class="form-control input-sm" %}
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <label for="{{ formp.soPhoiN4.id_for_label }}">Số phôi N4</label>
        {% render_field formp.soPhoiN4 class="form-control input-sm" %}
    </div>
    <div class="col-xs-6">
        <label for="{{ formp.soCryotop4.id_for_label }}">Số cryotop</label>
        {% render_field formp.soCryotop4 class="form-control input-sm" %}
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <label for="{{ formp.soPhoiN5.id_for_label }}">Số phôi N2</label>
        {% render_field formp.soPhoiN5 class="form-control input-sm" %}
    </div>
    <div class="col-xs-6">
        <label for="{{ formp.soCryotop5.id_for_label }}">Số cryotop</label>
        {% render_field formp.soCryotop5 class="form-control input-sm" %}
    </div>
</div>