{% for tt in thongtin %}
    <tr class="thongtin-row" data-url="{% url 'benhnhan_list' %}{{ tt.id }}/">
      <td>{{ tt.maSo }}</td>
        <td>{{ tt.tenVo }}</td>
        <td>{{ tt.nsVo }}</td>
        <td>{{ tt.tenChong }}</td>
        <td>{{ tt.nsChong }}</td>
        <td>{{ tt.bs }}</td>
        <td>{{ tt.lienHe }}</td>
        <td><button class="btn btn-xs btn-default context-button" style="border: solid white"
                    data-url="{% url 'benhnhan_list' %}{{ tt.id }}/">
                &ensp;&ensp;<span class="glyphicon glyphicon-wrench"></span>&ensp;&ensp;
            </button>
        </td>
    </tr>

  {% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">Chưa có thông tin</td>
    </tr>
{% endfor %}
