{% for tt in thongtin %}
    <tr class="thongtin-row" data-url="{% url 'benhnhan_list' %}{{ tt.id }}/">
        <td style="display: none">{{ tt.id }}</td>
        <td style="display: none">{{ tt.ngayNhap|date:"Y_m_d" }}</td>
      <td>{{ tt.maSo }}</td>
        <td>{{ tt.tenVo }}</td>
        <td>{{ tt.nsVo }}</td>
        <td>{{ tt.tenChong }}</td>
        <td>{{ tt.nsChong }}</td>
        <td>{{ tt.bs|default_if_none:"--------" }}</td>
        <td>{{ tt.lienHe }}
            {% if user.is_authenticated %}
            <button class="btn btn-sm btn-default context-button" style="float: right;"
                    data-url="{% url 'benhnhan_list' %}{{ tt.id }}/">
                <span class="glyphicon glyphicon-wrench"></span>
            </button>
            {% endif %}
        </td>
    </tr>

  {% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">Chưa có thông tin</td>
    </tr>
{% endfor %}
