{% load static %}
{% load widget_tweaks %}

<div class="form-group row">
    <div class="col-xs-12">
        <label for="{{ formtp.viTriTruPhoi.id_for_label }}">Vị trí trữ phôi</label>
        {% render_field formtp.viTriTruPhoi class="form-control input-sm" %}
    </div>
</div>

   <div class="form-group row">
        <div class="col-xs-8">
            <table id="label-pick" style="background-image: url('{% static 'bckgrn.gif' %}')" cellpadding="50">
                <tbody>
                    <tr>
                        <td>
                            <button id="pick_id_label00" targetchange="id_label00" class="pick-btn left-pick"></button>
                        </td>
                        <td>
                            <button id="pick_id_label01" targetchange="id_label01" class="pick-btn right-pick"></button>
                        </td>
                        <td>
                            <button id="pick_id_label02" targetchange="id_label02" class="pick-btn right-pick"></button>
                        </td>
                        <td>
                            <button id="pick_id_label03" targetchange="id_label03" class="pick-btn right-pick"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="pick_id_label10" targetchange="id_label10" class="pick-btn left-pick"></button>
                        </td>
                        <td>
                            <button id="pick_id_label11" targetchange="id_label11" class="pick-btn right-pick"></button>
                        </td>
                        <td>
                            <button id="pick_id_label12" targetchange="id_label12" class="pick-btn right-pick"></button>
                        </td>
                        <td>
                            <button id="pick_id_label13" targetchange="id_label13" class="pick-btn right-pick"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="pick_id_label20" targetchange="id_label20" class="pick-btn left-pick"></button>
                        </td>
                        <td>
                            <button id="pick_id_label21" targetchange="id_label21" class="pick-btn right-pick"></button>
                        </td>
                        <td>
                            <button id="pick_id_label22" targetchange="id_label22" class="pick-btn right-pick"></button>
                        </td>
                        <td>
                            <button id="pick_id_label23" targetchange="id_label23" class="pick-btn right-pick"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
   <div class="checkbox col-xs-4">
        <div class="row">
                <label for="{{ formtp.truPhoiToanBo.id_for_label }}">
                    {% render_field formtp.truPhoiToanBo %}
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    <b><small>Trữ phôi toàn bộ</small></b>
                </label>
        </div>
        <div class="row">
            <label for="{{ formtp.xinTrung.id_for_label }}">
                {% render_field formtp.xinTrung %}
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                <b>Xin trứng</b>
            </label>
        </div>
        <div class="row">
            <label for="{{ formtp.PICSI.id_for_label }}">
                {% render_field formtp.PICSI %}
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                <b>PICSI</b>
            </label>
        </div>
        <div class="row">
            <label for="{{ formtp.truLanh.id_for_label }}">
                {% render_field formtp.truLanh %}
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                <b>Trữ lạnh</b>
            </label>
        </div>
        <div class="row">
            <label for="{{ formtp.TESE.id_for_label }}">
                {% render_field formtp.TESE %}
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                <b>TESE</b>
            </label>
        </div>
        <div class="row">
            <label for="{{ formtp.PESAMESA.id_for_label }}">
                {% render_field formtp.PESAMESA %}
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                <b>PESA/MESA</b>
            </label>
        </div>
    </div>
    </div>

<div class="form-group row" style="display: none">
    <div class="col-xs-8">
        <table id="label-table">
            <tbody>
                <tr>
                    <td>
                        {% render_field formtp.label00 %}
                    </td>
                    <td>
                        {% render_field formtp.label01 %}
                        {% render_field formtp.loai011 %}
                        {% render_field formtp.loai012 %}
                        {% render_field formtp.loai013 %}
                    </td>
                    <td>
                        {% render_field formtp.label02 %}
                        {% render_field formtp.loai021 %}
                        {% render_field formtp.loai022 %}
                        {% render_field formtp.loai023 %}
                    </td>
                    <td>
                        {% render_field formtp.label03 %}
                        {% render_field formtp.loai031 %}
                        {% render_field formtp.loai032 %}
                        {% render_field formtp.loai033 %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% render_field formtp.label10 %}
                    </td>
                    <td>
                        {% render_field formtp.label11 %}
                        {% render_field formtp.loai111 %}
                        {% render_field formtp.loai112 %}
                        {% render_field formtp.loai113 %}
                    </td>
                    <td>
                        {% render_field formtp.label12 %}
                        {% render_field formtp.loai121 %}
                        {% render_field formtp.loai122 %}
                        {% render_field formtp.loai123 %}
                    </td>
                    <td>
                        {% render_field formtp.label13 %}
                        {% render_field formtp.loai131 %}
                        {% render_field formtp.loai132 %}
                        {% render_field formtp.loai133 %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% render_field formtp.label20 %}
                    </td>
                    <td>
                        {% render_field formtp.label21 %}
                        {% render_field formtp.loai211 %}
                        {% render_field formtp.loai212 %}
                        {% render_field formtp.loai213 %}
                    </td>
                    <td>
                        {% render_field formtp.label22 %}
                        {% render_field formtp.loai221 %}
                        {% render_field formtp.loai222 %}
                        {% render_field formtp.loai223 %}
                    </td>
                    <td>
                        {% render_field formtp.label23 %}
                        {% render_field formtp.loai231 %}
                        {% render_field formtp.loai232 %}
                        {% render_field formtp.loai233 %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="checkbox">
        <div class="col-xs-12">
        </div>
    </div>
    </div>

<script>
    $(document).ready(function() {
        var x = document.getElementById("id_label00").value;
        $("#pick_id_label00").css("background-color", x);
        x = document.getElementById("id_label01").value;
        $("#pick_id_label01").css("background-color", x);
        x = document.getElementById("id_label02").value;
        $("#pick_id_label02").css("background-color", x);
        x = document.getElementById("id_label03").value;
        $("#pick_id_label03").css("background-color", x);
        x = document.getElementById("id_label10").value;
        $("#pick_id_label10").css("background-color", x);
        x = document.getElementById("id_label11").value;
        $("#pick_id_label11").css("background-color", x);
        x = document.getElementById("id_label12").value;
        $("#pick_id_label12").css("background-color", x);
        x = document.getElementById("id_label13").value;
        $("#pick_id_label13").css("background-color", x);
        x = document.getElementById("id_label20").value;
        $("#pick_id_label20").css("background-color", x);
        x = document.getElementById("id_label21").value;
        $("#pick_id_label21").css("background-color", x);
        x = document.getElementById("id_label22").value;
        $("#pick_id_label22").css("background-color", x);
        x = document.getElementById("id_label23").value;
        $("#pick_id_label23").css("background-color", x);
        $('option').css("background-color", "white");
    });
</script>

<style>
    #label-table td {
        border: 5px solid white;
    }
    #label-table td div{
    }
    #label-table td div select{
        width: 100%;
        height: 30px;
        color: transparent;
        border: 1px solid grey;
    }
    #label-table td div select option{
        color: black;
    }
    #label-table td select{
        min-width: 100%;
    }

    .pick-btn {
        background-color: #4CAF50;
        border: solid black 1px;
        padding: 20px 30px;
    }

    ul li label input {
        font-weight: normal;
    }


</style>