{% load widget_tweaks %}

<form method="post" action="{% url 'truraphoi' thongtin.id %}" class="js-truraphoi-ex-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Phiếu theo dõi trữ - rã phôi</h4>
    </div>
    <div class="modal-body">
        <div style="display: none">
            <div class="form-group">
                {% render_field formch.chonNgay class="form-control input-sm" type="text" value="01/01/2017" %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>
            Đóng</button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-paste"></span>
            Xuất</button>
    </div>
</form>
