{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">
				Hệ thống quản lý bệnh viện
			</h1>
            <h4 class="text-center">
                Chọn menu để bắt đầu
            </h4>
		</div>
	</div>
    <br><br>
    <div class="btn-group btn-group-justified">
      <a href="{% url 'benhnhan_list' %}" class="btn btn-default btn-lg"><h2>Bệnh nhân</h2></a>
        <a href="{% url 'bacsi_list' %}" class="btn btn-default btn-lg"><h2>Bác sĩ</h2></a>
        <a href="{% url 'kythuatvien_list' %}" class="btn btn-default btn-lg"><h2>Kỹ thuật viên</h2></a>
    </div>
</div>
{% endblock %}