{% extends 'base.html' %}
{% load static %}

{% block javascript %}
    {% if user.is_authenticated %}
        <script src="{% static 'context-menu/jquery.contextMenu.min.js' %}"></script>
        <script src="{% static 'context-menu/jquery.ui.position.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'context-menu/jquery.contextMenu.min.css' %}">
    {% endif %}
    <script src="{% static 'quanly/js/chuyenphoi.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <style>
        ul {
            z-index: 50;
        }
    </style>

    <script src="{% static 'datatable/DataTables-1.10.13/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatable/DataTables-1.10.13/js/dataTables.bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'datatable/DataTables-1.10.13/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
      <ul class="nav nav-tabs">
        <li><a href="{% url 'benhnhan_list' %}">Bệnh nhân</a></li>
        <li><a href="{% url 'chochut_list' %}">Chọc hút</a></li>
        <li class="active"><a href="{% url 'chuyenphoi_list' %}">Chuyển phôi</a></li>
        <li><a href="{% url 'dongphoi_list' %}">Đông phôi</a></li>
        <li><a href="#">Thống kê</a></li>
      </ul>
    </div>
  <h3 class="page-header">
  <button class="btn btn-default" title="Làm mới" onclick="history.go(0)"><span class="fa fa-refresh"></span></button>
      Chuyển phôi
            {% if user.is_authenticated %}
  <button type="button"
            style="float: right"
            class="btn btn-primary js-chuyenphoi-ex"
            data-url="{% url 'chuyenphoi_ex' %}">
      <span class="glyphicon glyphicon-paste"></span>
      Xuất báo cáo
    </button>
  {% endif %}
  </h3>
    <div>
        <table id="thongtin-table" class="table " cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Mã hồ sơ</th>
            <th>Tên vợ</th>
              <th>Tên chồng</th>
              <th>Bác sĩ</th>
            <th>Số phôi rã</th>
            <th>Ngày kiểm tra</th>
            <th>Ngày chuyển phôi</th>
            <th>Ngày rã phôi</th>
          </tr>
        </thead>
        <tbody>
            {% include 'benhnhan/includes/chuyenphoi_preview.html' %}
        </tbody>
      </table>
    </div>

  <div class="modal fade" id="modal-chuyenphoi">
    <div id="modal-chuyenphoi-setup" class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}