{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block javascript %}
    <script src="{% static 'jqplot/jquery.jqplot.min.js' %}"></script>
    <script src="{% static 'jqplot/jqplot.pieRenderer.js' %}"></script>
        <link rel="stylesheet" href="{% static 'jqplot/jquery.jqplot.min.css' %}">

    <script>
    $(document).ready(function(){
        $('.numb').each(function () {
            var txt = $(this).text();
            $(this).text(txt.replace('.', ','));
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-bottom-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "300",
      "timeOut": "4400",
      "extendedTimeOut": "300",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
        });

    var l1 = Number(document.getElementById("loai1").innerHTML);
    var l2 = Number(document.getElementById("loai2").innerHTML);
    var l3 = Number(document.getElementById("loai3").innerHTML);

    var plot1 = $.jqplot('thongkephoi', [[['&nbsp;Loại 1',l1],['&nbsp;Loại 2',l2],['&nbsp;Loại 3',l3]]], {
        animate: true,
        gridPadding: {top:10, bottom:0, left:0, right:0},
        seriesDefaults:{
            renderer:$.jqplot.PieRenderer,
            rendererOptions: {
                padding: 8,
                showDataLabels: true,
                shadowAlpha: 0,
                seriesColors :['#e74c3c','#2ecc71','#3498db'],
                startAngle: -90
            },
            formatString: "%#.2f"
        },
        grid: {
            drawGridLines: false,        // wether to draw lines across the grid or not.
            gridLineColor: 'red',   // CSS color spec of the grid lines.
            background: '#ffffff',      // CSS color spec for background color of grid.
            borderWidth: 0,           // pixel width of border around grid.
            shadow: false               // draw a shadow for grid.
        },
        legend:{
            show:true,
            placement: 'outside',
            rendererOptions: {
                numberColumn: 1
            },
            location:'e',
            rowSpacing: '1em',
            fontSize: 14,
            marginLeft: '3em',
            fontFamily: 'Arial',
            showSwatches: false
        }
    });
});

    function tk() {
        var thang = $('#_id_thang').val();
        var nam = $('#_id_nam').val();
        window.location.replace('/quanly/thongke/' + thang + '/' + nam + '/')
    }

    $('#js-thongke-edit').click(function () {
        var btn = $(this);
        var thang = $('#_id_thang').val();
        var nam = $('#_id_nam').val();
        $.ajax({
          url: '/quanly/thongke/' + nam + '/edit/',
          type: 'get',
          dataType: 'json',
          beforeSend: function () {
            $("#modal-thongke").modal("show");
          },
          success: function (data) {
            $("#modal-thongke .modal-content").html(data.html_form);
          }
        });

    });

    </script>
    <style>
        div.jqplot-table-legend-swatch {
            border-width: 8px 30px
        }
        div.jqplot-table-legend-swatch-outline {
            border: none
        }
        .jqplot-target {
            color: #FFFFFF;
        }
        td a {
            color: black;
        }
        td a:hover, td a:active {
            color: black;
            text-decoration: none;
        }
        label {
            font-size: 70%;
            text-decoration: none;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row">
      <ul class="nav nav-tabs">
        <li><a href="{% url 'benhnhan_list' %}">Bệnh nhân</a></li>
        <li><a href="{% url 'chochut_list' %}">Chọc hút</a></li>
        <li><a href="{% url 'chuyenphoi_list' %}">Chuyển phôi</a></li>
        <li><a href="{% url 'dongphoi_list' %}">Đông phôi</a></li>
        <li class="active"><a href="{% url 'thongke' %}">Thống kê</a></li>
      </ul>
    </div>
    <div style="display: none">
        <div id="loai1">{{ l1 }}</div>
        <div id="loai2">{{ l2 }}</div>
        <div id="loai3">{{ l3 }}</div>
    </div>
    <div class="page-header">
        <h3> <button class="btn btn-default" title="Làm mới" onclick="location.href = location.href">
                <span class="fa fa-refresh"></span>
        </button> Thống kê
        <span class="form-group form-inline" style="float: right">
            <label for="_id_thang">Tháng</label>
            <select id="_id_thang" class="form-control input-sm">
                <option value="0">--</option>
                {% for month in months %}
                    <option value="{{ month }}" {% if month == thang %} selected="selected"{% endif %}>{{ month }}</option>
                {% endfor %}
            </select>
            <label for="_id_nam"> năm</label>
            <select id="_id_nam" class="form-control input-sm">
                {% for year in years %}
                    <option value="{{ year }}" {% if year == nam %} selected="selected"{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary" onclick="tk()">
              <span class="glyphicon glyphicon-list-alt"></span>
            Thống kê</button>
            {% if user.is_authenticated %}
                <button class="btn btn-primary" id="js-thongke-edit">
                <span class="fa fa-pencil-square-o"></span> Dữ liệu</button>
            {% endif %}
        </span>
        </h3>
  </div>
    {% if valid %}
        <h3 class="numb">Tỷ lệ thụ tinh: {{ ptst|floatformat:-2 }}%</h3>
        <hr>
        <h3>Tỷ lệ phôi</h3>
        <div id="thongkephoi" class="center-block" style="width:300px;"></div>
        <hr>
        <h3 class="numb">Tỷ lệ trẻ sinh sống: {{ tyletresinh|floatformat:-2 }}%</h3>
        <hr>
        <h3 class="numb">Tỷ lệ làm tổ: {{ tylelamto|floatformat:-2 }}%</h3>
    {% else %}
        <h3 class="alert alert-warning">Tháng đã chọn không có dữ liệu</h3>
    {% endif %}
<br>
<br>
<br>
  <div class="modal fade" id="modal-thongke">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}
